[user]
	name = Nguyen Phuc Nguyen 
	email = n.phucnguyen@outlook.com
	username = nguyenpnguyen
	signingkey = 103E47F4D29250F1
[core]
	editor = nvim
	autocrlf = input

[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[credential]
	helper = store
