[user]
	name = Nguyen Phuc Nguyen 
	email = n.phucnguyen@outlook.com
	username = nguyenpnguyen
	signingkey = 369B22AC075346D1
[core]
	editor = nvim
	autocrlf = input

[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[credential]
	helper = store
