[user]
	name = Nguyen Phuc Nguyen 
	email = n.phucnguyen@outlook.com
	username = nguyenpnguyen
	signingkey = 82F05A8A9E7DB9E1
[core]
	editor = nvim

[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[credential]
	helper = store
