copilot/
tmux/.config/tmux/plugins/*

# VSC*de
vscode/*
!vscode/.config
vscode/.config/*
!vscode/.config/Code\ -\ OSS
vscode/.config/Code\ -\ OSS/*
!vscode/.config/Code\ -\ OSS/User
vscode/.config/Code\ -\ OSS/User/*
!vscode/.config/Code\ -\ OSS/User/*.json
