copilot/
tmux/.config/tmux/plugins/*
btop/.config/btop/btop.log

# VSC*de
vscode/*
!vscode/.config
vscode/.config/*
!vscode/.config/Code\ -\ OSS
vscode/.config/Code\ -\ OSS/*
!vscode/.config/Code\ -\ OSS/User
vscode/.config/Code\ -\ OSS/User/*
!vscode/.config/Code\ -\ OSS/User/*.json

# Fish
fish/.config/fish/functions/*
fish/.config/fish/fish_variables*
fish/.config/fish/fishd.*
# Ignore directories managed by a plugin manager or considered local
fish/.config/fish/completions/
fish/.config/fish/conf.d/
fish/.config/fish/functions/

# Opencode
opencode/.config/opencode/node_modules
