copilot/
tmux/.config/tmux/plugins/*
btop/.config/btop/btop.log

# VSC*de
vscode/*
!vscode/.config
vscode/.config/*
!vscode/.config/Code\ -\ OSS
vscode/.config/Code\ -\ OSS/*
!vscode/.config/Code\ -\ OSS/User
vscode/.config/Code\ -\ OSS/User/*
!vscode/.config/Code\ -\ OSS/User/*.json

# Fish
fish/.config/fish/functions/*
fish/.config/fish/fish_variables
