@import "./mocha.css";

/* Global */
* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 1.1rem;
  border-radius: 0.5rem;
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: shade(@base, 0.9);
}

@keyframes blink_red {
  to {
    background-color: @red;
    color: @base;
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock,
#memory,
#temperature,
#cpu,
#mpd,
#idle_inhibitor,
#backlight,
#pulseaudio,
#network,
#battery,
#custom-wlsunset,
#custom-media,
#tray,
#disk,
#custom-pacman,
#custom-scratchpad-indicator {
  padding-left: .6rem;
  padding-right: .6rem;
}

/* Bar */
window#waybar {
  background-color: transparent;
}

window>box {
  background-color: transparent;
  margin: .3rem;
  margin-bottom: 0;
}


/* Workspaces */
#workspaces:hover {
  background-color: @green;
}


#workspaces button {
  padding-right: .5rem;
  padding-left: .5rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  color: @red;
  /* border: .2px solid transparent; */
  background: transparent;
}

#workspaces button.active {
  color: @blue;
}

#workspaces button.focused {
  color: @blue;
}

#workspaces button:hover {
  /* border: .2px solid transparent; */
  color: @rosewater;
}

#window {
  color: @text;
}

/* Tooltip */
tooltip {
  background-color: @base;
}

tooltip label {
  color: @rosewater;
}

/* battery */
#battery {
  color: @mauve;
}

#battery.full {
  color: @green;
}

#battery.charging {
  color: @teal;
}

#battery.discharging {
  color: @peach;
}

#battery.critical:not(.charging) {
  color: @pink;
}

/* mpd */
#mpd.paused {
  color: @pink;
  font-style: italic;
}

#mpd.stopped {
  color: @rosewater;
  /* background: transparent; */
}

#mpd {
  color: @lavender;
}

/* Extra */

#memory {
  color: @peach;
}

#cpu {
  color: @blue;
}

#clock {
  color: @rosewater;
}

#idle_inhibitor {
  color: @green;
}

#temperature {
  color: @sapphire;
}

#backlight {
  color: @green;
}

#pulseaudio {
  color: @mauve;
  /* not active */
}

#network {
  color: @pink;
  /* not active */
}

#network.disconnected {
  color: @foreground;
  /* not active */
}

#disk {
  color: @maroon;
}

#custom-wlsunset {
  color: @yellow;
}

#custom-media {
  color: @green;
}
